@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<OpenAvvUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    ViewData["PageType"] = "login-page";
    ViewData["NavClass"] = "navbar navbar-expand-lg bg-white fixed-top navbar-transparent";
    ViewData["attribute"] = "500";
}
@*<h2>@ViewData["Title"]</h2>*@
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
    <div class="content-center">
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    @{
                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div class="social text-center">
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            <button type="submit" class="btn btn-icon btn-round btn-@provider.Name.ToLower()" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-@provider.Name.ToLower()"></i></button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                    <form class="form" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        @*LOGO Here*@
                        @*<div class="card-header text-center">
                                <div class="logo-container">
                                    <img src="../assets/img/now-logo.png" alt="">
                                </div>
                            </div>*@

                        <h5 class="card-description"> or be classical </h5>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="card-body">
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Email" asp-for="Email" />

                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons objects_key-25"></i>
                                </span>
                                <input type="password" placeholder="Password" class="form-control" asp-for="Password" />

                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="form-check">
                                <label asp-for="RememberMe" class="form-check-label">
                                    <input class="form-check-input" type="checkbox" asp-for="RememberMe">
                                    <span class="form-check-sign"></span>
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Login</button>
                        </div>
                        <div class="pull-left">
                            <h6>
                                <a asp-action="Register" class="link footer-link">Create Account</a>
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <a asp-action="ForgotPassword" class="link footer-link">Forgot Password?</a>
                            </h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer " style="z-index:1;">
        <div class="container">
            <nav>
                <ul >
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            Open Avv
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="About">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="License">
                            License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script> <a asp-area="" asp-controller="Home" asp-action="Index" style="color:#f96332">Open Avv</a> All Rights Reserved.
            </div>
        </div>
    </footer>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
