@model IEnumerable<StoryVM>
@using Microsoft.AspNetCore.Identity;
@using OpenAvv.Extensions;

@inject SignInManager<OpenAvvUser> SignInManager
@inject UserManager<OpenAvvUser> UserManager

@{
    ViewData["Title"] = "Index";
    ViewData["PageType"] = "sections-page";
    ViewData["NavClass"] = "navbar navbar-expand-lg bg-white fixed-top";
}


<div class="cd-section" id="blogs">
    <div class="blogs-5" data-background-color="gray">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title">Stories &nbsp;<a asp-action="Create" class="btn btn-primary btn-simple btn-sm">Create New</a></h2>

                    @if (ViewData["AllowAuthorError"] != null)
                    {
                        <div class="alert alert-warning alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Oops!</strong> @ViewData["AllowAuthorError"]
                        </div>
                    }
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4">
                                <div class="card card-blog">
                                    <div class="card-image">
                                        <a href="#pablo">
                                            <img class="img rounded" src="/assets/img/card-blog2.jpg">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="category text-primary">@Html.DisplayFor(modelItem => item.Title)</h6>
                                        <h5 class="card-title">
                                            @Html.DisplayFor(modelItem => item.Info)
                                        </h5>
                                        <p class="card-description">
                                            @*@Html.DisplayFor(modelItem => item.Description)*@
                                            @item.Description.Substring(0,60)...<a asp-controller="Stories" asp-action="Details" asp-route-id="@item.ID" class="text-primary">Read More</a>
                                        </p>
                                        <div class="card-footer">
                                            @if (UserManager.GetUserId(User) != item.AuthorId) {
                                                <div class="author">
                                                    <img src="assets/img/julie.jpg" alt="..." class="avatar img-raised">
                                                    <span>@Html.DisplayFor(modelItem => item.AuthorName)</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="stats">
                                                    <a asp-controller="Stories" asp-action="Edit" asp-route-id="@item.ID" class="text-info small">Edit</a>

                                                    <button type="button" class="text-danger btn-link small" data-toggle="modal" data-target="#@item.ID">Delete</button>
                                                </div>
                                            }
                                            <div class="stats stats-right">
                                                <i class="now-ui-icons ui-2_favourite-28"></i> 2.4K
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .modal -->
                            <div class="modal fade " id="@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Delete</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete the Story: @item.Title ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a asp-controller="Stories" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Confirm Delete</a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                            @*<div class="modal fade modal-mini modal-primary show" id="@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                            <div class="modal-profile">
                                                <i class="now-ui-icons users_circle-08"></i>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete the Story: @item.Title ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Cancel</button>
                                            <a asp-controller="Stories" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Confirm Delete</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>










    @*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Info)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorName)
                </th>

                @if (User.Identity.IsAuthenticated)
                {
                    <th>Actions</th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Stories" asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Info)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateModified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        @if (UserManager.GetUserId(User) == item.AuthorId)
                {
                            <a asp-controller="Stories" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            @*<a asp-controller="Stories" asp-action="Details" asp-route-id="@item.ID" class="btn btn-default btn-xs" >Details</a>
                    <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#@item.ID"><i class="fa fa-times" aria-hidden="true"></i></button>
                        }


                        <!-- .modal -->
                        <div class="modal fade" id="@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Delete</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete theStory: @item.Title ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <a asp-controller="Stories" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Confirm Delete</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                    </td>
                </tr>
            }
        </tbody>
    </table>*@
